

.counter {
    margin: auto;
    text-align: center;
    padding: 10px;
    background: black;
    color: greenyellow;
}

.counter div{
    display: inline-block;
    background: #2c2c2c;
    padding: 20px;
    margin: 1px;
    font-size: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    
}

i.fa-clock:before {
    font-size: 70px;
}
